@import url(../style/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "dmSans";
}

body {
    overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightcyan;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6B7280;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BE123C;
  }


.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    margin-bottom: 93px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    align-items: center;
    display: flex;
}

.header__desc {
    margin-left: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
}

.header__input {
    border: 2px solid #D1D5DB;
    border-radius: 6px;
    outline: none;
    padding: 8px 10px;
    width: 100%;
    max-width: 525px;
    background-color: transparent;
    color: #fff;
}

.header__input::placeholder {
    color: #fff;
}

.sign__in {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-right: 27px;
}

.signin__section {
    display: flex;
    align-items: center;
}

.header__section {
    background-image: url(../image/header-bg.png);
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-bottom: 157px;
    margin-bottom: 70px;
}

.image__another {
    background-image: url(../image/lamb-bg.png);
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    height: 953px;
}

.result__inner p {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin-left: 10px;
}

.info__title {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 16px;
}

.info__result {
    display: flex;
    align-items: center;
}

.result__inner {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}

.info__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 302px;
    margin-bottom: 16px;
}

.info__btn {
    display: flex;
    background: #BE123C;
    border: none;
    max-width: 169px;
    border-radius: 6px;
    color: #fff;
    padding: 6px 16px;
}

.btn__icon {
    margin-right: 10px;
}

.btn__desc {
    text-transform: uppercase;
}

.main__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}

.page__cards {
    margin-bottom: 101px;
}

.main__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.main__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #000;
}

.main__more {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 47px;
    color: #BE123C;
}

.card {
    width: 250px;
    max-height: 490px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

.last__card {
    width: 250px;
    max-height: 490px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

.div__image {
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    width: 250px;
    height: 370px;
    margin-bottom: 12px;
}

.div__fav {
    position: absolute;
    top: 15px;
    right: 16px;
    width: 30px;
    height: 30px;
    background: rgba(243, 244, 246, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv__series {
    position: absolute;
    top: 19px;
    left: 16px;
    width: 74px;
    height: 22px;
}

.card__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 12px;
}

.card__inner {
    display: flex;
}

.card__inner-img {
    margin-right: 10px;
}

.card__desc {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #9CA3AF;
    margin-bottom: 12px;
}

.card__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #111827;
    margin-bottom: 12px;
    height: 50px;
}

.card__bottom {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #9CA3AF;
}

.popular {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.large__cards {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.large__card {
    width: 450px;
    height: 288px;
    margin-right: 48px;
}
.large__card-last {
    width: 450px;
    height: 288px;
}

.main__popular {
    margin-bottom: 69px;
}

.section__actors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 155px;
}

/* PAGE */
.more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more__btn {
    border: none;
    background: #BE123C;
    border-radius: 6px;
    padding: 6px 16px;
    margin-bottom: 125px;
}

.more__title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 36px;
}

.page__icons {
    width: 24px;
    height: 24px;
    margin-right: 48px;
}

.icon__last {
    width: 24px;
    height: 24px;
}

.page__data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}

.page__link {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #111827;
    margin-right: 48px;
}

.page__link-last {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #111827;
}

.page-last {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 58px;
}

.page__last {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #6B7280;
}